@charset "UTF-8";
.commonWidth {
  min-width: 1020px;
  max-width: 1020px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 749px) {
  .commonWidth {
    min-width: inherit;
    max-width: inherit;
    width: auto;
    margin: auto;
  }
}

.inCont {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  min-width: 720px;
  overflow: hidden;
}
@media screen and (max-width: 749px) {
  .inCont {
    min-width: 100%;
  }
}

.commonPadding {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 749px) {
  .commonPadding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-style: normal;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
}

a img {
  border: none;
}

.visible_if_ja,
.visible_if_en,
.visible_if_zh-CHS,
.visible_if_zh-CHT,
.visible_if_ko {
  display: none;
}

html[lang="ja"] .visible_if_ja,
html[lang="en"] .visible_if_en,
html[lang="zh-Hans"] .visible_if_zh-CHS,
html[lang="zh-Hant"] .visible_if_zh-CHT,
html[lang="ko"] .visible_if_ko {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
input,
textarea,
button,
table,
tr,
th,
td,
article,
aside,
footer,
header,
hgroup,
nav,
section,
img,
a,
p {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

html {
  height: auto;
}

body {
  color: rgb(var(--color-base-text));
  line-height: 1.6;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

a {
  word-wrap: break-word;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  color: rgba(var(--color-link), var(--alpha-link));
}

.clear {
  clear: both;
}

::-moz-selection {
  color: #000;
  background-color: #d3d3d3;
}

::selection {
  color: #000;
  background-color: #d3d3d3;
}

::-moz-selection {
  color: #000;
  background-color: #d3d3d3;
}

.br {
  display: inline-block;
}

.sr,
.sr-seq {
  visibility: hidden;
}

.enFont {
  font-family: "";
}

#all,
.sm-slider,
.sm-slider:after,
body.fixed header.global {
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 749px) {
  #all,
  .sm-slider,
  .sm-slider:after,
  body.fixed header.global {
    min-width: inherit;
  }
}

#all {
  position: relative;
  z-index: 10;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

/*animation mouse hover*/
@media screen and (min-width: 750px) {
  .animUnderHover {
    position: relative;
    padding-bottom: 2px;
    line-height: 1.2;
    text-decoration: none;
  }
  .animUnderHover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    opacity: 0.6;
    transform-origin: left;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  }
  .animUnderHover:hover::after {
    transform: scaleX(1);
    transform-origin: right;
    transition-delay: 0s;
  }
  .animUnderHover.list-menu__item--active:hover::after {
    display: none;
  }
  .animIsitUnderHover {
    position: relative;
    padding-bottom: 2px;
    line-height: 1.2;
    text-decoration: none;
    color: rgba(var(--color-link), var(--alpha-link));
  }
  .animIsitUnderHover::after,
  .customer .animIsitUnderHover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(1);
    opacity: 0.6;
    transform-origin: right;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  }
  .animIsitUnderHover:hover::after,
  .customer .animIsitUnderHover:hover::after {
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
  }
}
.linkColorAccent02 {
  color: rgba(var(--color-base-accent-2));
  text-decoration: none;
}

.brSmp {
  display: none;
}

@media screen and (max-width: 749px) {
  .brSmp {
    display: inline;
  }
  .smpNon {
    display: none;
  }
}
sticky-header.header-wrapper {
  border: none;
}

header.header {
  width: 100%;
  max-width: inherit;
  display: block;
  position: relative;
  padding: 0 0 10px 0;
  z-index: 1;
  background-color: #fff;
  height: 130px;
}
@media screen and (max-width: 749px) {
  header.header {
    padding: 0;
    height: 65px;
  }
}
header.header .l1 {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
@media screen and (max-width: 749px) {
  header.header .l1 {
    height: 100%;
  }
}
header.header .header__heading-link,
header.header .header__heading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: transform 0.1s;
}
header.header .header__heading-link:hover,
header.header .header__heading:hover {
  transform: scale(1.05, 1.05);
}
header.header .header__heading-link img,
header.header .header__heading img {
  height: 55px;
}
@media screen and (max-width: 749px) {
  header.header .header__heading-link,
  header.header .header__heading {
    width: 60px;
    height: 45px;
  }
  header.header .header__heading-link img,
  header.header .header__heading img {
    height: 40px;
  }
}
header.header .header__heading .logotype1 {
  top: -1px;
  position: relative;
}
header.header .navBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  position: relative;
}
@media screen and (max-width: 749px) {
  header.header .navBox {
    padding: 0;
    height: 100%;
  }
}
@media screen and (min-width: 750px) {
  header.header .navBox {
    height: 90px;
  }
}
header.header .navBox .left_icon {
  display: flex;
}
header.header .navBox .left_icon a {
  width: 36px;
  padding: 0 10px;
  height: 100%;
}
@media screen and (max-width: 749px) {
  header.header .navBox .left_icon a {
    padding: 0 12px 0 14px;
    width: 42px;
  }
}
header.header .navBox .left_icon .country {
  display: flex;
  align-content: center;
  position: relative;
  margin-left: 0;
}
@media screen and (min-width: 750px) {
  header.header .navBox .left_icon .country {
    margin-left: 15px;
  }
}
header.header .navBox .left_icon .country select {
  color: rgb(var(--color-base-text));
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  flex-grow: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  padding-left: 4px;
  padding-right: 20px;
  cursor: pointer;
}
header.header .navBox .left_icon .country select option {
  border: none;
}
header.header .navBox .left_icon .country select:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
@media screen and (min-width: 750px) {
  header.header .navBox .left_icon .country select {
    font-size: 1.4rem;
  }
}
header.header .navBox .left_icon .country svg {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 5px;
  z-index: 2;
  pointer-events: none;
}
header.header .navBox .left_icon .wovn-languages {
  display: none !important;
}
header.header .navBox .cIcon {
  top: 0;
  bottom: 0%;
  right: 0;
  display: flex;
}
header.header .navBox .cIcon .sb_icon div,
header.header .navBox .cIcon .hb_icon,
header.header .navBox .cIcon .hbmBox {
  padding: 0 14px;
  width: 46px;
}
header.header .navBox .cIcon .sb_icon div {
  padding: 0 9px 0 13px;
  width: 46px;
}
header.header .navBox .cIcon .header__icon .icon-search {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 1px;
}
@media screen and (max-width: 749px) {
  header.header .navBox .cIcon .sb_icon div,
  header.header .navBox .cIcon .hb_icon {
    padding: 0 15px 0 9px;
    width: 44px;
    height: 100%;
  }
  header.header .navBox .cIcon .header__icon .icon {
    width: 40px;
  }
  header.header .navBox .cIcon .sb_icon div {
    width: 42px;
    padding-right: 9px;
  }
  header.header .navBox .cIcon .header__icon.hb_icon svg {
    width: 19px;
  }
  header.header .navBox .cIcon .header__icon .icon-search {
    position: relative;
    top: 1px;
  }
}
header.header .navBox .cIcon .header__icon--cart .cart-count-bubble {
  width: 1.4rem;
  height: 1.4rem;
  bottom: 7px;
  left: 28px;
  letter-spacing: -0.08em;
}
@media screen and (max-width: 749px) {
  header.header .navBox .cIcon .header__icon--cart .cart-count-bubble {
    left: 23px;
    bottom: 26%;
  }
}
header.header .navBox .cIcon input#hbm1 {
  display: none;
}
header.header .navBox .cIcon .hbmBox {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  padding: 0 10px 0 2px;
  margin-left: 5px;
  width: 34px;
  box-sizing: content-box;
  z-index: 999999999;
}
@media screen and (min-width: 750px) {
  header.header .navBox .cIcon .hbmBox {
    top: -2px;
    margin-left: 11px;
    padding: 0 10px 0 5px;
    position: relative;
  }
}
header.header .navBox .cIcon .hbmBox:hover ul li {
  transform: translate(3px, -5px);
}
header.header .navBox .cIcon .hbmBox:hover ul li:nth-child(2) {
  transform: translate(-3px, 5px);
}
@media screen and (max-width: 749px) {
  header.header .navBox .cIcon .hbmBox:hover ul li {
    transform: translate(0, -3px);
  }
  header.header .navBox .cIcon .hbmBox:hover ul li:nth-child(2) {
    transform: translate(0, 3px);
  }
}
header.header .navBox .cIcon .hbmBox ul {
  position: relative;
  width: 100%;
  margin-left: 14px;
}
header.header .navBox .cIcon .hbmBox ul li {
  width: 100%;
  position: absolute;
  height: 1.5px;
  margin: auto;
  background: #000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: translate(0, -3px);
}
header.header .navBox .cIcon .hbmBox ul li:nth-child(2) {
  transform: translate(0, 3px);
}
header.header .navBox .cIcon .hbmBox ul.selected li {
  transform: translate(0, 0px) rotate(315deg);
}
header.header .navBox .cIcon .hbmBox ul.selected li:nth-child(2) {
  transform: translate(0, 0px) rotate(-315deg);
}
header.header .headerCat {
  display: none;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  padding: calc(var(--grid-desktop-horizontal-spacing) * 2);
  margin: 0 auto;
  transform: translate(0, -50vh);
  transition: 0.3s all;
  max-width: 100%;
  justify-content: center;
}
@media screen and (min-width: 750px) {
  header.header .headerCat {
    display: block;
  }
}
header.header .headerCat .inBox {
  justify-content: center;
}
header.header .headerCat .hedwid {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
header.header .headerCat.on {
  background-color: #fff;
  transform: translate(0);
}
header.header .headerCat.on .modal-overlay {
  display: block;
}
header.header #modal-overlay-hedbag {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translate(100vw);
  z-index: -1;
}
header.header #modal-overlay-hedbag div {
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  width: 100%;
  height: 100%;
}
header.header #modal-overlay-hedbag.on {
  transform: translate(0);
  display: block;
}
header.header #modal-overlay-hedbag.on div {
  opacity: 1;
}
header.header .c_search {
  opacity: 1;
  display: none;
  height: 110px;
  min-height: auto;
  position: absolute;
  top: 92%;
  bottom: 0;
  z-index: 1;
  border: none;
}
header.header .c_search .field:after {
  display: none;
}
header.header .c_search .search-modal__content {
  background: #fff;
  min-width: auto;
  min-height: auto;
  width: 100%;
  margin: 0 auto auto;
  padding: 0 60px 0 20px;
}
header.header .c_search .search-modal__content .modal__close-button.link {
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
}
header.header .c_search .search-modal__content .modal__close-button.link .icon {
  width: 18px;
}
header.header .c_search input {
  border-bottom: 1px solid #000;
}
header.header .c_search input:focus {
  outline: none !important;
  box-shadow: none;
}
header.header .c_search.on {
  transform: translate(0, 0);
}
header.header .c_search.on .search-modal__content {
  opacity: 1;
}
header.header .c_search .modal-overlay {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100vh;
  display: block;
  background: rgba(0, 0, 0, 0.7);
}
header.header .sb_icon .header__icon {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
header.header .sb_icon .header__icon:hover {
  opacity: 0.8;
}
header.header .header-menu {
  width: 100%;
  height: 40px;
  justify-content: center;
  display: none;
}
@media screen and (min-width: 750px) {
  header.header .header-menu {
    display: block;
  }
}
header.header .header-menu ul {
  display: flex;
  justify-content: center;
}
header.header .header-menu ul li {
  padding: 12px 0;
  font-size: 1.2rem;
  color: #000;
  line-height: 1.5;
  min-width: 15em;
  text-align: center;
}
header.header .header-menu ul li#cat,
header.header .header-menu ul li#cat2 {
  cursor: pointer;
}
header.header .header-menu ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
}
header.header .header-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  opacity: 0.6;
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
header.header .header-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0s;
}
header.header #hbm1:checked {
  opacity: 0.6;
  width: 1px;
}
header.header #hbm1:checked ~ .opbg {
  transform: translate(0);
  transition-delay: 0s;
  transition: transform 0s;
}
header.header #hbm1:checked ~ .opbg .bg {
  opacity: 1;
  transition: opacity 0.9s;
}
header.header #hbm1:checked ~ .openmenu {
  transform: translate(0);
  opacity: 1;
}
header.header #hbm1:checked ~ .openmenu dl dt,
header.header #hbm1:checked ~ .openmenu dl dd {
  opacity: 1;
  transform: translate(0px, 5px);
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(1) dt {
  transition-delay: 0.3s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(1) dd {
  transition-delay: 0.4s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(2) dt {
  transition-delay: 0.5s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(2) dd {
  transition-delay: 0.6s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(3) dt {
  transition-delay: 0.7s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(3) dd {
  transition-delay: 0.8s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(4) dt {
  transition-delay: 0.9s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(4) dd {
  transition-delay: 1s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(5) dt {
  transition-delay: 1.1s;
}
header.header #hbm1:checked ~ .openmenu dl:nth-child(5) dd {
  transition-delay: 1.2s;
}
header.header .openmenu {
  width: 38vw;
  max-width: 450px;
  min-width: 320px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 40px 40px 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background: #fff;
  transform: translate(45vw, 0);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  opacity: 0;
}
@media screen and (max-width: 980px) {
  header.header .openmenu {
    transform: translate(80vw, 0);
    width: 65vw;
  }
}
@media screen and (max-width: 749px) {
  header.header .openmenu {
    width: 90vw;
    padding: 30px 30px 120px;
    transform: translate(100vw, 0);
  }
}
header.header .openmenu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: none;
}
header.header .openmenu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(100, 100, 100);
}
header.header .openmenu dl {
  color: #000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
header.header .openmenu dl:nth-child(n + 2) {
  margin-top: 40px;
}
header.header .openmenu dl dt {
  width: 100%;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media screen and (max-width: 749px) {
  header.header .openmenu dl dt {
    margin-bottom: 10px;
  }
}
header.header .openmenu dl dd {
  font-size: 12px;
  letter-spacing: 0.03em;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
header.header .openmenu dl dd:nth-of-type(1n) {
  margin-top: 0;
}
header.header .openmenu dl dd.topSpace {
  margin-top: 1.2em;
}
header.header .openmenu dl dd a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transform: translate(0, 0px);
}
@media screen and (max-width: 749px) {
  header.header .openmenu dl dd a {
    padding: 9px 0;
  }
}
header.header .openmenu dl dd a:-webkit-any-link {
  color: #000;
}
header.header .openmenu dl dd a:hover {
  transform: translate(5px, 0px);
}
header.header .opbg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  height: 100vh;
  transform: translate(100vw, 0);
  transition: transform 0s;
  transition-delay: 0.8s;
}
header.header .opbg .bg {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.4s, transform 0.2s;
}

body.lock {
  overflow: hidden;
}
body.lock #shopify-section-announcement-bar {
  z-index: 99;
  transition: z-index 0s step-end;
}

.closeseach {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  display: none;
}

.headerCat,
.bottomCat {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  margin-top: var(--spacing-sections-mobile);
  margin-bottom: 0px;
  padding: 0 5rem;
}
@media screen and (min-width: 750px) {
  .headerCat,
  .bottomCat {
    margin-top: var(--spacing-sections-desktop);
  }
}
.headerCat .inBox,
.bottomCat .inBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}
.headerCat .inBox ul li,
.bottomCat .inBox ul li {
  width: 100%;
  padding: 5px 0;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}
.headerCat .inBox ul li a,
.bottomCat .inBox ul li a {
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.2rem;
}
@media screen and (min-width: 750px) {
  .headerCat .inBox ul li,
  .bottomCat .inBox ul li {
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 750px) {
  .headerCat .inBox,
  .bottomCat .inBox {
    width: 30%;
    justify-content: center;
  }
}
.headerCat a,
.bottomCat a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 749px) {
  .bottomCat {
    display: block;
    font-size: 1.2rem;
    padding: 0px 20px;
  }
}

.pancom {
  font-size: 1.2rem;
  background-color: #fff;
  color: #979797;
}
.pancom a {
  text-decoration: none;
  color: #979797;
}
.pancom.tpan {
  margin: 20px auto 0px 20px;
}
.pancom.fpan {
  padding: var(--spacing-sections-mobile) 0 var(--spacing-sections-mobile) 20px;
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 750px) {
  .pancom.fpan {
    display: none;
  }
}

#shopify-section-footer {
  background-color: #fff;
  position: relative;
}

footer.footer {
  font-size: 1.2rem;
  margin-top: 0;
  padding: var(--grid-mobile-horizontal-spacing) 20px
    var(--grid-mobile-horizontal-spacing);
}
@media screen and (min-width: 750px) {
  footer.footer {
    margin-top: var(--spacing-sections-desktop);
    padding: var(--grid-desktop-horizontal-spacing) 20px
      var(--grid-desktop-horizontal-spacing);
  }
}
footer.footer .footer-block__heading {
  display: none;
}
footer.footer .footer-block {
  max-width: 1800px !important;
  display: block;
  width: 30%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 749px) {
  footer.footer .footer-block {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}
footer.footer .footer-block ul.footer-block__details-content {
  text-align: left;
}
footer.footer .footer-block ul.footer-block__details-content li {
  width: 100%;
  margin: auto;
}
footer.footer .footer-block ul.footer-block__details-content li a,
footer.footer .footer-block ul.footer-block__details-content li div {
  font-size: 1.2rem;
}
@media screen and (max-width: 749px) {
  footer.footer .footer-block ul.footer-block__details-content {
    margin: 0 auto;
  }
  footer.footer .footer-block ul.footer-block__details-content li {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  footer.footer .footer-block ul.footer-block__details-content li a {
    font-size: 1.2rem;
    padding: 10px 0px;
  }
}
footer.footer .footer__list-social .list-social__link {
  padding: 0;
}
footer.footer .footer__list-social .list-social__link .icon {
  width: 25px;
  height: inherit;
}
footer.footer .footer__content-top {
  padding-top: 2em;
  padding-bottom: 0;
}
@media screen and (max-width: 749px) {
  footer.footer .footer__content-top {
    padding: 1em 0;
  }
}
footer.footer .footer__content-bottom {
  border-top: none;
}
@media screen and (max-width: 749px) {
  footer.footer .footer-menu__pc {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  footer.footer .footer-menu__pc {
    display: block;
  }
}
@media screen and (max-width: 749px) {
  footer.footer .footer-menu__sp {
    display: block;
  }
}
@media screen and (min-width: 750px) {
  footer.footer .footer-menu__sp {
    display: none;
  }
}

#f-latter {
  position: fixed;
  width: 95vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999999999;
  transform: translate(100vw);
}
@media screen and (min-width: 750px) {
  #f-latter {
    width: 500px;
    height: 350px;
  }
}
#f-latter #f-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  z-index: -1;
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
#f-latter #f-latterInner {
  background-color: #fff;
  border: 1px solid #000;
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  position: relative;
  padding: 20px;
  width: 100%;
  z-index: 999999999999;
}
@media screen and (min-width: 750px) {
  #f-latter #f-latterInner {
    min-width: 350px;
  }
}
#f-latter .newsletter {
  flex-wrap: wrap;
  display: flex;
}
#f-latter .newsletter__wrapper {
  padding: 20px;
  width: 100%;
}
@media screen and (min-width: 750px) {
  #f-latter .newsletter__wrapper {
    min-width: 350px;
  }
}
#f-latter .outbox {
  width: 100%;
}
#f-latter #newsletter__close {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
#f-latter #newsletter__close .closeInner {
  position: relative;
  width: 20px;
  height: 20px;
}
#f-latter #newsletter__close .closeInner::before,
#f-latter #newsletter__close .closeInner::after {
  content: "";
  background: #000;
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  right: 0px;
  top: 10px;
}
#f-latter #newsletter__close .closeInner::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#f-latter #newsletter__close .closeInner::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#f-latter #newsletter__close:hover {
  opacity: 0.6;
}
#f-latter.open {
  transform: inherit;
}
#f-latter.open #f-bg {
  opacity: 1;
}
#f-latter.open #f-latterInner {
  opacity: 1;
}

.product-box ul,
.c_plist .collection .grid {
  -moz-column-gap: 0;
  column-gap: 0;
}
.product-box ul .grid__item,
.c_plist .collection .grid .grid__item {
  width: 50%;
  max-width: 50%;
}
@media screen and (min-width: 750px) {
  .product-box ul .grid__item,
  .c_plist .collection .grid .grid__item {
    width: 25%;
    max-width: 25%;
  }
}

.card-wrapper .card__content {
  padding: 0 12px;
  min-height: 5.5rem;
}
.card-wrapper .card__media img {
  transform: var(--duration-long) ease;
}
.card-wrapper .card__media .media--transparent {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.card-wrapper:hover .card__media img {
  opacity: 0.82 !important;
}
.card-wrapper:hover .card__media .media--transparent {
  background-color: #000;
}
.card-wrapper .card__information {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 0;
}
.card-wrapper .card__information .pc {
  display: none;
}
@media screen and (min-width: 750px) {
  .card-wrapper .card__information .pc {
    display: block;
  }
  .card-wrapper .card__information .sp {
    display: none;
  }
}
.card-wrapper .card__information .card__heading.h5 {
  font-size: 1.2rem;
  width: 100%;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 6px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 3em;
}
@media screen and (max-width: 749px) {
  .card-wrapper .card__information .card__heading.h5.sp {
    display: -webkit-box;
  }
}
@media screen and (min-width: 750px) {
  .card-wrapper .card__information .card__heading.h5.pc {
    display: -webkit-box;
  }
}
.card-wrapper .card__information .card-information {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  text-align: left;
  width: 100%;
}
.card-wrapper .card__information .card-information .bagecus {
  font-size: 1em;
  font-weight: normal;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
@media screen and (min-width: 750px) {
  .card-wrapper .card__information .card-information .bagecus {
    justify-content: right;
  }
}
.card-wrapper .card__information .card-information .bagecus span {
  font-weight: normal;
}
.card-wrapper .card__information .card-information .bagecus span.red {
  color: #ff0000;
}
.card-wrapper .card__information .card-information .bagecus span + span {
  margin-left: 10px;
}
.card-wrapper .card__information .card-information .bagecus,
.card-wrapper .card__information .card-information .price,
.card-wrapper .card__information .card-information .card__heading.h5 {
  width: 100%;
}
.card-wrapper .card__information .card-information .bagecus {
  order: 1;
}
.card-wrapper .card__information .card-information .price {
  order: 3;
}
.card-wrapper .card__information .card-information .card__heading.h5 {
  order: 2;
}
.card-wrapper .card__information .card-information .bagecus {
  margin-bottom: 3px;
  line-height: 1.5;
}
.card-wrapper .card__information .card-information .price {
  margin-bottom: 6px;
  line-height: 1.5;
}
.card-wrapper .card__information .card-information .bagecus:empty {
  min-height: 1.5em;
  margin-bottom: 3px;
}
@media screen and (min-width: 750px) {
  .card-wrapper .card__information {
    justify-content: space-between;
  }
  .card-wrapper .card__information .card__heading.h5 {
    width: 65%;
    margin-bottom: 0;
  }
  .card-wrapper .card__information .card-information {
    display: block;
    width: 31%;
    text-align: right;
  }
  .card-wrapper .card__information .card-information .variant_color_list {
    width: 100%;
  }
}
.card-wrapper .card__information .variant_color_list {
  margin-bottom: 0;
  order: 2;
  justify-content: flex-start;
}
@media screen and (min-width: 750px) {
  .card-wrapper .card__information .variant_color_list {
    justify-content: flex-end;
    max-width: 65%;
    margin: 1px 0 0 auto;
  }
}

.blog.csblog {
  margin-top: var(--spacing-sections-mobile);
}
@media screen and (min-width: 750px) {
  .blog.csblog {
    margin-top: var(--spacing-sections-desktop);
  }
}
.blog.csblog .isolate {
  padding: 0;
}
.blog.csblog .title-wrapper--no-top-margin {
  justify-content: center;
  margin: auto auto calc(var(--spacing-sections-mobile) / 2);
}
@media screen and (min-width: 750px) {
  .blog.csblog .title-wrapper--no-top-margin {
    margin: auto auto calc(var(--spacing-sections-desktop) / 2);
  }
}
.blog.csblog .blog__title {
  text-align: center;
  font-size: 24px;
}
.blog.csblog .card__inner:before {
  padding-bottom: 100% !important;
}
.blog.csblog ul {
  display: grid;
  row-gap: calc(var(--grid-mobile-vertical-spacing) * 2);
  margin-bottom: 0;
}
@media screen and (min-width: 750px) {
  .blog.csblog ul {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}
.blog.csblog ul li.blog__post {
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.blog.csblog ul li.blog__post .card__content .card__information {
  display: block;
  padding: var(--grid-mobile-horizontal-spacing);
  padding-bottom: 0;
}
@media screen and (min-width: 750px) {
  .blog.csblog ul li.blog__post .card__content .card__information {
    padding: 14px 10px;
  }
}
.blog.csblog ul li.blog__post .card__content .card__heading {
  font-size: 1.2rem;
}
@media screen and (min-width: 750px) {
  .blog.csblog ul li.blog__post .card__content .card__heading {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 2.6em;
    line-height: 1.3;
  }
}
.blog.csblog ul li.blog__post .card__content .card__heading,
.blog.csblog ul li.blog__post .card__content .article-card__info {
  font-weight: normal;
  text-align: left;
}
.blog.csblog .blog__posts li img {
  opacity: 1;
  transition: 0.3s all !important;
}
.blog.csblog .blog__posts li .article-card__image-wrapper {
  background-color: #000;
  transition: 0.3s all;
}
.blog.csblog .blog__posts li:hover img {
  opacity: 0.82 !important;
}

.linkbox {
  text-align: center;
}
.linkbox a {
  line-height: 1;
  margin-top: calc(var(--spacing-sections-mobile) / 2);
}
@media screen and (min-width: 750px) {
  .linkbox a {
    margin-top: calc(var(--spacing-sections-desktop) / 2);
  }
} /*# sourceMappingURL=common.css.map */
