.elementor-1596 .elementor-element.elementor-element-98d684f {
    padding: 0px 0px 4px 0px;
}

.elementor-1596 .elementor-element.elementor-element-773ff26>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1596 .elementor-element.elementor-element-773ff26>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}