.elementor-3490 .elementor-element.elementor-element-e1883b4 {
    margin-top: -23px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3490 .elementor-element.elementor-element-debeb13>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-3490 .elementor-element.elementor-element-debeb13>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-3490 .elementor-element.elementor-element-43a4fc8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-3490 .elementor-element.elementor-element-fff4a72 {
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3490 .elementor-element.elementor-element-a293ec8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-3490 .elementor-element.elementor-element-a293ec8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-3490 .elementor-element.elementor-element-d8c11f0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}